/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

nav,
nav ul,
nav ul a {
	height: 100px;
	line-height: 100px;
	font-weight: 500;
	font-size: large;
}

nav ul a,
nav .brand-logo {
	color: rgb(255, 255, 255);
}
nav ul a:hover,
nav:hover {
	background-color: #444444;
}
.brand-logo {
	margin-top: 2px;
}

p {
	line-height: 2rem;
}

.sidenav-trigger {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
	padding-top: 0;
}

.p_content {
	font-size: large;
}

.heading-banner {
	content: url(../img/home.jpg);
}

.justify-text {
	text-align: justify;
	text-justify: inter-word;
}
.font-size {
	font-size: 200%;
	text-align: 100%;
}

.tabs .tab a:hover {
	background-color: rgb(255, 237, 237);
} /*Text color on hover*/

.tabs .tab a.active {
	background-color: rgb(255, 237, 237);
} /*Background and text color when a tab is active*/

.tabs .indicator {
	background-color: darkred;
} /*Color of underline*/

@media (max-width: 992px) {
	h1 {
		font-size: 1.5em;
		line-height: 1em;
		margin: 0.5em;
	}
	h5 {
		font-size: 1.3em;
	}
	.event_header {
		margin: 0em;
		font-size: 2em !important;
	}
	.in_parallax_header {
		font-size: 3em;
		margin: 0;
	}
}

.red-tint {
	position: relative;
}

.red-tint:after {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #8b0000;
	top: 0;
	left: 0;
	display: block;
	content: "";
	filter: opacity(0.5);
}

.sponsorship-banner {
	filter: grayscale(1);
}

.sponsors-showcase {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 100px 0 100px;
}
