/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav,
nav ul,
nav ul a {
	height: 100px;
	line-height: 100px;
	font-weight: 500;
	font-size: large;
}

nav ul a,
nav .brand-logo {
	color: rgb(255, 255, 255);
}
nav ul a:hover,
nav:hover {
	background-color: #444444;
}
.brand-logo {
	margin-top: 2px;
}

p {
	line-height: 2rem;
}

.sidenav-trigger {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

.p_content {
	font-size: large;
}

.heading-banner {
	content: url(../home.jpg);
}
